.form-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    padding: 2rem;

    background-color: var(--formBgColor);
    border-radius: 30px;
}

.left-border-form{
    padding: 1rem 0 0 0 ;
    border-radius:30px 0 0 30px;
}

.form-grid{
    display: grid;
    grid-template-rows: auto auto;

    width: 100%;
    padding: 1rem 0;

    /* border: 1px solid blue; */

}

.form-group{
    display: grid;
    position: relative;
    /* width: 100%; */
    /* grid-template-columns: 40% 60%; */
    grid-auto-columns: minmax(max-content, 2fr);
    margin: 0 0 1rem;
    accent-color: var(--backgroundColor);

    /* border: 1px solid red; */
}

.form-group-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid blue; */
}

.form-group>label,.form-group-flex>label{
    display: flex;
    width:fit-content;
    justify-content: flex-start;
    font-weight: bold;
}

.form-control{
    padding-left: 0.2rem;
}

.card-form-control{
    padding-left: 0rem;
}

.card-form-quantity-box{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: flex-end;
}

.form-checkbox{
    padding-left: 0.2rem;
    display: flex;
}
.form-checkbox>label{
    margin-left: 0.5rem;
}

.radio-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.radio-group-item{
    padding: 0 0 0.5rem;
}

.model-input-container{
    position: relative;

    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    width: 100%;
    min-height: 5vh;

    margin-bottom: 1.5rem;

    /* background-color: white; */

    border: 1px solid var(--backgroundColor);;
    border-radius: 15px;

    /* width: 30vw; */
}

.search-result-container{
    width: 100%;
    height: clamp(5vh,60vh,60vh);

    padding-top: 1rem;

    /* display: flex;
    justify-content: center;
    align-items: flex-start; */

    border-radius: 10px;

    overflow-y: scroll;

    /* border: 1px solid red; */
}

.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;

    /* position: absolute;
    top: 0.5rem;
    right: 0.5rem; */

    width: 1.5rem;
    height: 1.5rem;

    padding: 0.1rem 0.3rem;
    font-size: 1rem;

    background-color: var(--formBgColor);
    border: none;
    box-shadow: 2px 2px black;
    cursor: pointer;

    z-index: 5;

    transition: 0.3s ease-in-out;
}

.add-btn:hover,.delete-btn:hover{
    transition: 0.3s ease-in-out;
    color: var(--backgroundColor);;
}

.delete-btn{
    position: absolute;
    top: 1px;
    right: 1px;

    display: flex;
    /* justify-self: flex-end; */
    align-self: flex-end;
    justify-content: flex-end;
    align-items: flex-start;

    width: 1.5rem;
    height: 1.5rem;

    padding: 0.1rem 0.3rem;
    font-size: 1rem;

    cursor: pointer;

    transition: 0.3s ease-in-out;

}

.submit-btn{
    font-size: 1rem;

    background-color: var(--formBgColor);
    border: none;
    box-shadow: 2px 2px black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.submit-btn:hover{
    transition: 0.3s ease-in-out;
    background-color: #c6cec9;
}

.sku-list-item{
    width: 100%;
    grid-column: 1 / span 2;   
    
    padding: 1rem; 

    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: center;

    padding: 0;

    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* border: 1px solid green; */
}

.sku-list-item:nth-child(even) {
    background: var(--white);
  }

  .sku-list-item>section>p{
    margin: 0.5rem 0;
  }

.sku-list-item:hover{
    color: blue;
    transition: 0.3s ease-in-out;
}

.date-input-box{
    padding: 0.4rem 0.8rem;

    border-radius: 10px;
    border: none;

    cursor: pointer;
}

.ds-filter-form-control{
    padding: 0.4rem 0.8rem;
    /* margin: 0 0.5rem; */

    border-radius: 10px;
    border: none;
    outline: none;
}