.form-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    padding: 2rem;

    background-color: var(--formBgColor);
    border-radius: 30px;
}

.left-border-form{
    padding: 1rem 0 0 0 ;
    border-radius:30px 0 0 30px;
}

.form-grid{
    display: grid;
    grid-template-rows: auto auto;

    padding: 1rem 0;

    /* border: 2px solid blue; */

}

.form-group{
    display: grid;
    /* grid-template-columns: 40% 60%; */
    grid-auto-columns: minmax(max-content, 2fr);
    margin: 0 0 1rem;
    accent-color: var(--backgroundColor);
}

/* .form-group>input{
    border: none;
} */

.form-group>label{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.form-control{
    padding-left: 0.2rem;
}

.radio-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    /* padding: 0 0 1rem; */
    /* display: grid; */
    /* grid-template-columns: 40% 60%; */
    /* border:2px solid red; */
}

.radio-group-item{
    padding: 0 0 0.5rem;
}

.submit-btn{
    background-color: var(--formBgColor);
    border: none;
    box-shadow: 2px 2px black;
    cursor: pointer;
}