.form-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    padding: 2rem;

    background-color: var(--formBgColor);
    border-radius: 30px;
}

.left-border-form{
    padding: 1rem 0 0 0 ;
    border-radius:30px 0 0 30px;
}

.form-grid{
    display: grid;
    grid-template-rows: auto auto;

    width: 100%;
    padding: 1rem 0;

    /* border: 1px solid blue; */

}

.form-group{
    display: grid;
    position: relative;
    /* width: 100%; */
    /* grid-template-columns: 40% 60%; */
    grid-auto-columns: minmax(max-content, 2fr);
    margin: 0 0 1rem;
    accent-color: var(--backgroundColor);

    /* border: 1px solid red; */
}

.form-group>label{
    display: flex;
    width:fit-content;
    justify-content: flex-start;
    font-weight: bold;
}

.form-control{
    padding-left: 0.2rem;
}

.card-form-control{
    padding-left: 0rem;
}

.form-checkbox{
    padding-left: 0.2rem;
    display: flex;
}
.form-checkbox>label{
    margin-left: 0.5rem;
}

.radio-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.radio-group-item{
    padding: 0 0 0.5rem;
}

.submit-btn{
    font-size: 1rem;

    background-color: var(--formBgColor);
    border: none;
    box-shadow: 2px 2px black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.submit-btn:hover{
    transition: 0.3s ease-in-out;
    background-color: #c6cec9;
}