.navbar-container{
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: clamp(100px,8vh,8vh);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #f2f4f3;
    background-color: var(--backgroundColor);
    /* background-color: #353535; */
    /* border: 1px solid red; */
}

.navbar-container>h1{
    cursor: pointer;
}

.navbar-container>h3{
    padding: 0 1rem;
}

.menu-btn{
    justify-self: flex-start;
    align-self: center;

    padding: 0 1rem;

    font-size: 2rem;

    cursor: pointer;

    /* border: 0.5px solid red; */
}

.logout-btn{
    /* position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    transform-origin: (0,50%); */

    display: flex;
    justify-self: flex-end;

    padding: 0 0.5rem;
    margin-right: 1rem;
    font-size: 2rem;

    cursor: pointer;

    /* border: 0.5px solid red; */
}