.header{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}

.user-card-grid{
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: center;
    gap: 1rem;
}


.edit-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-end;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    width: 1.5rem;
    height: 1.5rem;

    padding: 0.1rem 0.3rem;
    font-size: 1rem;

    background-color: var(--formBgColor);
    border: none;
    box-shadow: 2px 2px black;
    cursor: pointer;

    z-index: 5;

    transition: 0.3s ease-in-out;
}

.edit-btn:hover{
    transition: 0.3s ease-in-out;
    background-color: #c6cec9;
}
