.header{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}


.edit-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.1rem 0.3rem;
    font-size: 1rem;

    background-color: var(--formBgColor);
    border: none;
    box-shadow: 2px 2px black;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}

.edit-btn:hover{
    transition: 0.3s ease-in-out;
    background-color: #c6cec9;
}
